body {
    background-image: url('https://plsadaptive.s3.amazonaws.com/eco/images/channel_content/images/biggest_oil_and_gas_companies.jpg');
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 115px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

.logo img {
    width: 150px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    margin-left: 25px;
}

.links>a {
    color: white;
}