.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 115px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

.logo img {
    width: 180px;
}

.links {
    display: flex;
    margin-left: 25pz;
}